*{
	margin: 0;
	padding: 0;
}
body{
	
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.logo{
	width: 265px;
	height: 25px;
	margin-left: 25px;
	margin-top: 20px;
}
.navbar{
	height: 50px;
	background-color: #222931;
	position: relative;
	top: 25px;
}
.header{
	width: 100%;
	margin-bottom: 55px;
}
.banner{
	margin-top: 0 auto;
	margin-bottom: 0 auto;
}
.banner :hover{
	opacity: 0.5;
}
.banners{
	width: 300px;
	height: 220px;
	margin-left: 12.5px;
}
.footer{
	width: 100%;
}
.oplossing{
	width: 100%;
	height: 140px;
	background-color: #ffe718;
	margin-top: 60px;
	margin-bottom: 60px;
}
.box :hover{
	background-color: #222931;
	color: #fff;
}
.box{
	position: relative;
	bottom: 50px;
}
.deals{
	width: 300px;
	height: 100px;
	background-color: #ffe718;
	display: inline-block;
}
.diensten{
	width: 300px;
	height: 100px;
	background-color: #ffe718;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}
.contact{
	width: 300px;
	height: 100px;
	background-color: #ffe718;
	display: inline-block;
}
.hugeLetters{
	font-size: 20px;
}
.bigLetters{
	font-size: 16px;
}
.smallLetters{
	font-size: 10px;
}
button{
	width: 200px;
	height: 40px;
	font-size: 10px;
	border: 0px;
	float: right;
	position: relative;
	top: 50px;
}
button:hover{
	background-color: #222931;
	color: #fff;
}
footer{
	width: 100%;
	height: 60px;
	background-color: #222931;
	font-size: 12px;
	color: #fff;
	text-align: right;
}
a{
	color: #fff;
}